@font-face {
    font-family: "D2CodingLigature";
    src: url("D2CodingLigature.ttf.ttf");
}
html {
    background-color: #242729 !important;
    font-family: "D2CodingLigature", sans-serif;
    color-scheme: dark !important;
}
html, body, input, textarea, select, button, dialog {
    background-color: #242729;
}
html, body, input, textarea, select, button {
    border-color: #ada18d;
    color: #ffffff;
}
a {
    color: rgb(212, 85, 39); /* lighter orangered from base rgb(255, 68, 0) */
}
table {
    border-collapse: collapse;    
}
th, td {
    border: 1px solid rgba(255, 68, 0, 0.25);
    padding: 8px;
    text-align: left;
}
th {
    background-color: #242729;
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: #242729;
}
tr:nth-child(odd) {
    background-color: #2f3335;
}
::placeholder {
    color: #fffff2;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: #606600 !important;
    color: #ffffff !important;
}
::-webkit-scrollbar {
    background-color: #303536;
    color: #fff6e5;
}
::-webkit-scrollbar-thumb {
    background-color: #686f73;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #838d93;
}
::-webkit-scrollbar-thumb:active {
    background-color: #6c757a;
}
::-webkit-scrollbar-corner {
    background-color: #242729;
}
* {
    scrollbar-color: #686f73 #303536;
}
::selection {
    background-color: #0073ff !important;
    color: #ffffff !important;
}
::-moz-selection {
    background-color: #0073ff !important;
    color: #ffffff !important;
}